@font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/iranyekan-bold.woff2');
}

@font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/iranyekan-thin.woff2');
}

@font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/iranyekan-light.woff2');
}

@font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/iranyekan-regular.woff2');
}

@font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/iranyekan-medium.woff2');
}

@font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/iranyekan-extra-bold.woff2');
}

@font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/iranyekan-black.woff2');
}

@font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 950;
	src: url('../fonts/iranyekan-extra-black.woff2');
}

